@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --pale-green: #E8F3D6;
    --yellow: #FCF9BE;
    --light-orange: #FCDC2A;
    --orange: #F28C28;
    --mid-orange: #F7C566;
    --blue: #3468C0;
    --cream-orange: #FFDCA9;
}

body {
    min-height: 100vh;
}

.text-orange {
    color: var(--orange);
}
.text-mid-orange {
    color: var(--mid-orange);
}
.text-light-orange {
    color: var(--light-orange);
}
.text-pale-green {
    color: var(--pale-green);
}
.text-yellow {
    color: var(--yellow);
}
.text-cream-orange {
    color: var(--cream-orange);
}

.flashcardContainer {
    width: 60vw;
    background-color: white;
    border: 3px solid var(--orange);
    border-radius: 0.75rem;
    min-height: 20rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.hintBtn {
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    transition: 0.15s all ease-in-out;
}
.hintBtn:hover {
    background-color: var(--light-orange);
}
.flashcardTitleCtn {
    background-color: var(--cream-orange);
    border: 2px solid var(--orange);
    border-radius: 0.75rem;
}
.flashcardOption {
    background-color: var(--cream-orange);
    border-radius: 0.75rem;
    color: var(--orange);
    cursor: pointer;
    transition: 0.15s all ease-in-out;
}
.flashcardOption:hover {
    background-color: var(--orange);
    color: white;
    transform: scale(1.025);
}
.activeOption {
    background-color: var(--orange);
    color: white;
    transform: scale(1.025);
}

.skipBtn {
    cursor: pointer;
    transition: 0.15s all ease-in-out;
}
.skipBtn:hover {
    transform: scale(1.075);
}